/**
 USAGE: Enter your settings and rename to .env
 IMPORTANT! GIT IGNORE THIS FILE
 -------- EG ----------
 API_KEY=AAAAABBBBB111112222233333
 MONGODB=mongodb://localhost:27017/codefolio-api
 SESSION_SECRET=secretsecreshhh
 SENDGRID_USER=mysendgridusername
 SENDGRID_PASSWORD=mysendgridpassword
 SERVER_SMTP_FROM_ADDRESS=webmaster@mydomain.com
*/
