{
    "env": {
        "browser": false,
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-console": [
            1
        ],
        "indent": [
            0,
            "tab"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
